.test-instructions {
    p {
        text-align: center;
        float: none;
        font-size: 1.1em;
    }
    h4 {
        text-decoration: underline;
        margin-bottom: 1em;
    }
    ol {
        margin-left: 1em;
        margin-right: 1em;
        li {
            margin-bottom: 0.9em;
        }
    }
}