<div class="test-instructions" *ngIf="language =='english'">
  <p>Please read the instructions carefully</p>
  <h4>Important Notes</h4>
  <div class="instructions">
    <ol>
      <li>Total duration of examination is 180 minutes.</li>
      <li>The clock will be set at the server. The countdown timer in the top right corner of screen will display the remaining
        time available for you to complete the examination. When the timer reaches zero, the examination will end by itself.
        You will not be required to end or submit your examination.</li>
      <li>The Question Palette displayed on the right side of screen will show the status of each question using one of the following
        symbols:
      </li>
      <li>You can click on the "&gt;" arrow which appears to the left of question palette to collapse the question palette thereby
        maximizing the question window. To view the question palette again, you can click on " &lt; " which appears on the
        right side of question window.</li>
      <li>You can click on your "Profile " image on top right corner of your screen to change the language during the exam for
        entire question paper. On clicking of Profile image you will get a drop-down to change the question content to the
        desired language.</li>
      <li>You can click on
        <img src="../../assets/images/Down.png " alt="scroll down"> to navigate to the bottom and
        <img src="../../assets/images/Up.png " alt="scroll up "> navigate to the top of the question area, without scrolling.</li>
      <h4>Navigating to questions</h4>
      <li>To answer a question, do the following:</li>
      <ol type="a">
        <li>Click on the question number in the Question Palette at the right of your screen to go to that numbered question
          directly. Note that using this option does NOT save your answer to the current question.</li>
        <li>Click on Save &amp; Next to save your answer for the current question and then go to the next question.</li>
        <li>Click on
          <strong>Mark for Review &amp; Next</strong> to save your answer for the current question, mark it for review, and then
          go to the next question.</li>
      </ol>
      <h4>Answering a questions</h4>
      <li>Procedure for answering a multiple choice type question:</li>
      <ol type="a">
        <li>To select your answer, click on the button of one of the options</li>
        <li>To deselect your chosen answer, click on the button of the chosen option again or click on the Clear Response button
        </li>
        <li>To change your chosen answer, click on the button of another option</li>
        <li>To save your answer, you MUST click on the Save &amp; Next button</li>
        <li>To mark the question for review, click on the
          <strong>Mark for Review &amp; Next</strong> button.</li>
      </ol>
      <h4>Navigating through sections</h4>
      <li>Sections in this question paper are displayed on the top bar of the screen. Questions in a section can be viewed by
        clicking on the section name. The section you are currently viewing is highlighted.</li>
      <li>After clicking the Save &amp; Next button on the last question for a section, you will automatically be taken to the
        first question of the next section.</li>
      <li>You can shuffle between sections and questions anytime during the examination as per your convenience only during the
        time stipulated.</li>
      <li>Candidate can view the corresponding section summary as part of the legend that appears in every section above the
        question palette.
      </li>
      <h4>Instruction for images</h4>
      <li>To zoom the image provided in the question roll over it.</li>
    </ol>
  </div>
</div>

<div class="test-instructions" *ngIf="language =='hindi'">
  <p>कृपया ध्यान से निर्देश पढ़ें</p>
  <h4>महत्वपूर्ण लेख</h4>
  <div class="instructions">
    <ol>
      <li>परीक्षा की कुल अवधि 180 मिनट है</li>
      <li>घड़ी सर्वर पर सेट की जाएगी स्क्रीन के शीर्ष दाएं कोने में उलटी गिनती टाइमर परीक्षा पूरा करने के लिए उपलब्ध शेष समय
        प्रदर्शित करेगा। जब टाइमर शून्य तक पहुंच जाता है, तो परीक्षा स्वयं समाप्त हो जाएगी आपको अपनी परीक्षा समाप्त करने
        या जमा करने की आवश्यकता नहीं होगी</li>
      <li>स्क्रीन के दाहिनी ओर प्रदर्शित पर्ची पैलेट प्रत्येक प्रश्न की स्थिति निम्न प्रतीकों में से एक का उपयोग करके दिखाएगा:
      </li>
      <li>आप &gt; पर क्लिक कर सकते हैं सवाल पैलेट की बाईं ओर प्रतीत होता है जो तीर जो सवाल खिड़की को अधिकतम करता है जिससे प्रश्न
        विंडो बढ़ती है। प्रश्न पैलेट को फिर से देखने के लिए, आप &lt; पर क्लिक कर सकते हैं जो प्रश्न विंडो के दाईं ओर दिखाई
        देता है।</li>
      <li>संपूर्ण प्रश्नपत्र के लिए परीक्षा में भाषा बदलने के लिए आप अपनी स्क्रीन के शीर्ष दाएं कोने पर अपनी "प्रोफ़ाइल" छवि
        पर क्लिक कर सकते हैं। प्रोफाइल की छवि को क्लिक करने पर आपको प्रश्न सामग्री को वांछित भाषा में बदलने के लिए एक ड्रॉप
        डाउन मिलेगा।</li>
      <li>आप नीचे पर नेविगेट करने के लिए
        <img src="../../assets/images/Down.png " alt="scroll down"> पर क्लिक कर सकते हैं
        <img src="../../assets/images/Up.png " alt="scroll up"> स्क्रॉल करने के बिना, प्रश्न क्षेत्र के शीर्ष पर नेविगेट करें।</li>
      <h4>प्रश्नों पर नेविगेट करना</h4>
      <li>किसी प्रश्न का उत्तर देने के लिए, निम्नलिखित करें:</li>
      <ol type="a">
        <li>उस नंबर वाले प्रश्न पर सीधे जाने के लिए अपनी स्क्रीन के दाईं ओर प्रश्न पटल में प्रश्न संख्या पर क्लिक करें ध्यान
          दें कि इस विकल्प का उपयोग करने से आपका उत्तर वर्तमान प्रश्न से नहीं बचा है।</li>
        <li>सहेजें पर क्लिक करें &amp; वर्तमान प्रश्न के लिए अपना उत्तर सहेजने के बाद और फिर अगले प्रश्न पर जाएं।</li>
        <li>
          <strong> समीक्षा के लिए मार्क करें &amp; अगले प्रश्न के लिए अपना उत्तर सहेजने के लिए अगला </strong>, इसे समीक्षा के लिए
          चिह्नित करें और फिर अगले प्रशन पर जाएं।</li>
      </ol>
      <h4>एक प्रश्न का उत्तर देना</h4>
      <li>एक बहु विकल्प प्रकार के प्रश्न का उत्तर देने की प्रक्रिया:</li> 
      <ol type="a">
        <li>अपना जवाब चुनने के लिए, विकल्पों में से किसी एक के बटन पर क्लिक करें</li>
        <li>अपने चुने हुए उत्तर को अचयनित करने के लिए, चुने गए विकल्प के बटन पर फिर से क्लिक करें या उत्तर रिस्पांस बटन पर क्लिक
          करें
        </li>
        <li>अपने चुने हुए उत्तर को बदलने के लिए, दूसरे विकल्प के बटन पर क्लिक करें</li>
        <li>अपना जवाब बचाने के लिए, आपको जरूरी है कि सहेजें और amp; अगला बटन</li>
        <li>समीक्षा के लिए प्रश्न को चिह्नित करने के लिए,
          <strong> समीक्षा के लिए मार्क करें &amp; अगला </strong> बटन</li>
      </ol>
      <h4>वर्गों के माध्यम से नेविगेट करना</h4>
      <li>इस प्रश्नपत्र में अनुभाग स्क्रीन के शीर्ष पट्टी पर प्रदर्शित होते हैं। अनुभाग में प्रश्न अनुभाग नाम पर क्लिक करके देखा
        जा सकता है जो अनुभाग आप देख रहे हैं वह हाइलाइट किया गया है।</li>
      <li>सहेजें &amp; पर क्लिक करने के बाद; एक अनुभाग के अंतिम प्रश्न पर अगला बटन, आप स्वचालित रूप से अगले अनुभाग के पहले प्रश्न
        पर ले जाएंगे।</li>
      <li>आप अपनी सुविधा के अनुसार परीक्षा के दौरान किसी भी समय वर्गों और प्रश्नों के बीच फेरबदल कर सकते हैं केवल निर्धारित समय
        के दौरान।</li>
      <li>उम्मीदवार प्रश्न पटल के ऊपर प्रत्येक अनुभाग में प्रकट होने वाले पौराणिक कथा के हिस्से के रूप में संबंधित अनुभाग सारांश
        देख सकते हैं।
      </li>
      <h4>छवियों के लिए निर्देश</h4>
      <li>उस पर प्रश्न रोल में प्रदान की गई छवि को ज़ूम करने के लिए</li>
    </ol>
  </div>
</div>