<div class="test-screen">
  <div class="test-title-bar">
    <h2>JEE (Advanced) 2018 Mock Test</h2>
  </div>

  <div class="test-modal-bars">
    <a href="#">Question Paper</a>
    <a href="#">Instructions</a>
  </div>

  <div class="main-test-section">

    <!-- left section -->
    <div class="top-section">
      <div class="test-section">

        <!-- left top section -->
        <!-- have to make upperhalf of 20vh -->
        <div class="test-top-section">
          <div class="question-paper-info">
            <div class="info">
              <span>Question Paper (Section)</span>
            </div>
          </div>

          <div class="timer">
            <p>Section</p>
            <span id="timer"></span>
          </div>

          <div class="subject-section">
            <ul>
              <li>phy sec 1</li>
              <li>phy sec 2</li>
            </ul>
          </div>
        </div>

      </div>


      <!-- right section -->
      <div class="profile-section">
        <!-- have to make upperhalf of 20vh -->
        <div class="upper-half">
          <img src="../../assets/images/admin-icon.png" alt="user image">
        </div>
      </div>
    </div>

    <div class="bottom-section">
      <div class="main-question-screen">
        <div class="language-selection">
          <p>View in: 
            <select>
              <option value="english">English</option>
              <option value="hindi">Hindi</option>
            </select>
          </p>
        </div>
        <div class="questions"></div>

        <div class="question-footer">
          <button type="button">Mark for Review &amp; Next</button>
          <button type="button">Clear Response</button>
          <button type="button" class="save">Save &amp; Next</button>
        </div>
      </div>

      <div class="question-status">
        <div class="status-info">
          <div class="answered">
            <p><span>0</span> &nbsp;&nbsp;Answered</p>
          </div>
          <div class="not-answered">
              <p><span>7</span> &nbsp;&nbsp;Not Answered</p>
          </div>
          <div class="not-visited">
              <p><span>0</span> &nbsp;&nbsp;Not Visited</p>
          </div>
          <div class="review">
              <p><span>0</span> &nbsp;&nbsp;Review Later</p>            
          </div>
          <div class="answered-review">
              <p><span>0</span> &nbsp;&nbsp;Answered &amp; marked for Review Later (will be considered for evaluation)</p>
          </div>
        </div>

        <div class="subject-section">
          <div class="subject-header">
            <h4>Phy Sec 1</h4>
          </div>
          <h4>Choose a question</h4>
          <div class="question-number">
            <span>1</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>