<div class="test-screen">
  <div class="test-title-bar">
    <h2>JEE (Advanced) 2018 Mock Test</h2>
  </div>

  <div class="test-modal-bars">
    <a href="javascript:void(0)" (click)="showPaper()">Question Paper</a>
    <div class="modal" #questionModal>
      <div class="modal-content">
        <span id="" (click)="closeQuestionModal()">&times;</span>
        <p>Question Paper goes here...</p>
      </div>
    </div>
    <a href="javascript:void(0)" (click)="showInstruction()">Instructions</a>
    <div class="modal" #instructionModal>
      <div class="modal-content">
        <span id="" (click)="closeInstructionModal()">&times;</span>
        <pp-test-instructions [language]="select"></pp-test-instructions>
      </div>
    </div>
  </div>

  <div class="main-test-section">

    <!-- left section -->
    <div class="top-section">
      <div class="test-section">

        <!-- left top section -->
        <!-- have to make upperhalf of 20vh -->
        <div class="test-top-section">
          <div class="question-paper-info">
            <div class="info">
              <span>Question Paper (Section)</span>
            </div>
          </div>

          <div class="timer">
            <p>Section</p>
            <span id="timer"></span>
          </div>

          <div class="subject-section">
            <ul *ngIf="sectionObject">
              <!-- <li *ngFor="let section of sections | objNgFor" (click)="getQuestionOfSection(sections[section])">{{ section }}</li> -->
              <li *ngFor="let section of sectionObject; let sectionIndex = index" (click)="getQuestionOfSection(sectionIndex)" [ngClass]="{'active': sectionObject[activeSectionIndex]['section_name'] == section['section_name'] }">{{ section['section_name'] }}</li>
            </ul>
          </div>
        </div>

      </div>


      <!-- right section -->
      <div class="profile-section">
        <!-- have to make upperhalf of 20vh -->
        <div class="upper-half">
          <img src="../../assets/images/admin-icon.png" alt="user image">
        </div>
      </div>
    </div>

    <div class="bottom-section">
      <div [ngClass]="{'main-question-screen': fullWidth, 'full-width': !fullWidth}">
        <div class="language-selection">
          <p>View in:
            <select [(ngModel)]="select">
              <option value="english">English</option>
              <option value="hindi">Hindi</option>
            </select>
          </p>
        </div>
        <div class="questions" #scroll>
          <img src="../../assets/images/Down.png" alt="down" (click)="scrollToBottom()">
          <div class="questions-text" *ngIf="questions">{{ questions.questions_text }}</div>
          <div *ngIf="questions" class="show-question">
            <img [src]="questions.questions_image" alt="question image">
          </div>
          <button type="button" (click)="fullWidth = !fullWidth">{{ fullWidth? '&gt;' : '&lt;' }}</button>
          <div class="answer-input">
            <input type="text" name="answer" [(ngModel)]="expectedAnswer" #answer autofocus>
            <div class="num-buttons">
              <ul>
                <li (click)="removeCharacter()">BackSpace</li>
                <li *ngFor="let num of nums" (click)="getNums(num)">{{ num }}</li>
                <li (click)="goLeft()">&lt;-</li>
                <li (click)="goRight()">-&gt;</li>
                <li (click)="clear()">Clear All</li>
              </ul>
            </div>
          </div>
          <img src="../../assets/images/Up.png" alt="down" (click)="scrollToTop()">
        </div>

        <div class="question-footer">
          <button type="button">Mark for Review &amp; Next</button>
          <button type="button" (click)="clear()">Clear Response</button>
          <button type="button" class="submit">Submit</button>
          <button type="button" *ngIf="getNextButtonVisibility()" class="save" (click)="getNext()">Save &amp; Next</button>
        </div>
      </div>

      <div [ngClass]="{'question-status': fullWidth, 'hide-status': !fullWidth }">
        <div class="status-info">
          <div class="answered">
            <span>0</span>
            <p>Answered</p>
          </div>
          <div class="not-answered">
            <span>0</span>
            <p>Not answered</p>
          </div>
          <div class="not-visited">
            <span>0</span>
            <p>Not visited</p>
          </div>
          <div class="review">
            <span>0</span>
            <p>Review later</p>
          </div>
          <div class="answered-review">
            <span>0</span>
            <p> &nbsp;&nbsp;Answered &amp; marked for Review Later (will be considered for evaluation)</p>
          </div>
        </div>

        <div class="subject-question-section">
          <div class="subject-header" *ngIf="sectionObject[activeSectionIndex]">
            <h4>{{ sectionObject[activeSectionIndex]?.section_name }}</h4>
          </div>
          <h4>Choose a question</h4>
          <div class="question-number" *ngIf="sectionObject[activeSectionIndex]">
            <span *ngFor="let number of sectionObject[activeSectionIndex].questions; let questionIndex = index" (click)="getQuestion(activeSectionIndex, questionIndex)">{{ number?.question_number }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>