$border: 1px solid #cccccc;
$border-radius: 0.4em;

.for-single div, .for-multiple div {
    margin: 15px;
}

button.submit {
    background-color: #2D70B6;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 19px 15px 0px 0px;
}

.test-screen {
    min-height: 100%;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    .test-title-bar {
        background-color: #2D70B6;
        color: #ffffff;
        padding: 12px;
    }
    .test-modal-bars {
        background-color: #222;
        text-align: end;
        padding: 0.2em 0;
        a {
            color: #ffffff;
            margin-right: 5em;
            &:hover {
                color: #cccccc;
            }
            text-decoration: none;
        }
        .modal {
            display: none;
            position: fixed;
            z-index: 100;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            overflow: auto;
            background: rgba(0, 0, 0, 0.5);
            text-align: justify;
            .modal-content {
                background: #f4f4f4;
                margin: 10% auto;
                padding: 0.5em 1em;
                width: 70%;
                height: 60%;
                overflow: auto;
                box-shadow: -2px 7px 16px -4px rgba(0, 0, 0, 0.75);
                span {
                    color: #cccccc;
                    font-size: 2em;
                    float: right;
                    &:hover {
                        color: #000000;
                        text-decoration: none;
                        cursor: pointer;
                    }
                }
                p {
                    clear: both;
                }
            }
        }
    }
    .main-test-section {
        .top-section {
            width: 100%;
            height: 17vh;
            .test-section {
                width: 80%;
                float: left;
                height: 17vh; // full height is 87.2
                border-right: $border;
                .test-top-section {
                    background-color: #cccccc;
                    .question-paper-info {
                        background-color: #cccccc;
                        padding: 0.4em;
                        .info {
                            display: inline-block;
                            background-color: #2D70B6;
                            padding: 6px;
                            border-radius: 2px;
                            color: #ffffff;
                            margin-left: 0em;
                            height: 35px;
                        }
                    }
                    .timer {
                        background-color: #ffffff;
                        padding: 0.3em;
                        p {
                            display: inline-block;
                        }
                        span {
                            float: right;
                        }
                    }
                    .subject-section {
                        ul {
                            border-top: 1px solid #5d5d5d;
                            border-bottom: 1px solid #5d5d5d;
                            padding-left: 1em;
                            padding-right: 1em;
                            li {
                                border-right: 1px solid #5d5d5d;
                                display: inline-block;
                                padding: 6px;
                                cursor: pointer;
                                &:first-child {
                                    border-left: 1px solid #5d5d5d;
                                }
                            }
                            .active {
                                background-color: #2D70B6;
                            }
                        }
                    }
                }
            }
        }
        .profile-section {
            .upper-half {
                width: 20%;
                float: right;
                background-color: #6d6c6c;
                min-height: 17vh;
                img {
                    width: 44%;
                }
            }
        }
        .bottom-section {
            clear: both;
            .full-width {
                position: relative;
                width: 100%;
                float: left;
                height: 67.2vh;
            }
            .main-question-screen {
                position: relative;
                width: 80%;
                float: left;
                height: 67.2vh;
            }
            .language-selection {
                background: #2D70B6;
                padding: 0.5em;
                p {
                    text-align: end;
                    select {
                        width: 7em;
                        height: 2em;
                        line-height: 2.5em;
                        border-radius: $border-radius;
                    }
                }
            }
            .questions {
                height: 52.5vh;
                overflow: auto;
                position: relative;
                padding: 5px;

                img:first-child, img:last-child {
                    float: right;
                    cursor: pointer;
                    width: 3%;
                }

                .questions-text {
                    clear: both;
                    margin-bottom: 1em;
                }

                .show-question {
                    img {
                        width: 100%;
                        margin-bottom: 3em;
                    }
                }

                button {
                    position: absolute;
                    right: 0;
                    top: 33%;
                    height: 4em;
                    background-color: #9d9d9d;
                    // color: #ffffff;
                    border: 0.1em solid #2d2d2d;
                    font-weight: bold;
                    padding: 0.18em;
                    cursor: pointer;
                }
                .answer-input {
                    width: 12em;
                    margin-left: 2em;
                    input {
                        width: 100%;
                        height: 2em;
                        line-height: 2em;
                        border: $border;
                        border-radius: $border-radius;
                    }
                    .num-buttons {
                        ul {
                            width: 7em;
                            margin: 1em auto;
                            text-align: center;
                            li {
                                list-style: none;
                                display: inline-block;
                                border: $border;
                                border-radius: $border-radius;
                                color: #000000;
                                padding: 0.4em;
                                margin: 0.3em;
                                font-weight: bolder;
                                cursor: pointer;
                                &:hover {
                                    color: #cccccc;
                                }
                            }
                        }
                    }
                }
            }
            .question-footer {
                position: absolute;
                width: 100%;
                bottom: 0;
                border-top: $border;
                padding: 5px 8px;
                background-color: #ffffff;
                button {
                    width: auto;
                    height: 2.6em;
                    line-height: 2.6em;
                    font-size: 0.9em;
                    padding: 0 0.5em;
                    background: transparent;
                    border: $border;
                    cursor: pointer;
                }
                button.save {
                    float: right;
                    background-color: #2D70B6;
                    color: #ffffff;
                    border: none;
                    margin-right: 4em;
                }
                button.submit {
                    float: right;
                    background-color: #2D70B6;
                    color: #ffffff;
                    border: none;
                }
                button:hover{
                    background-color: #2D70B6;
                    border-color: #2D70B6;
                    color: #fff;

                }
            }
            .question-status {
                width: 20%;
                height: 59.5vh;
                background-color: #cccccc;
                float: right;
                border : 2px solid;
            }
            .hide-status {
                display: none;
            }
            .status-info {
                width: 100%;
                padding: 1px;
                text-align: center;
                font-size: 0.9em;
                .answered {
                    width: 50%;
                    float: left;
                    line-height: 1.2em;
                    margin-bottom: 1.2em;
                    p {
                        font-size: 0.9em;
                        margin-top: 0.5em;
                        text-align: left;
                    }
                    span {
                        background: url("../../../assets/images/questions-sprite.png") no-repeat scroll 0 0 transparent;
                        background-position: -5px -52px;
                        padding: 0.5em 0.8em;
                        float: left;
                        width: 33px;
                        height: 33px;
                        text-align: center;
                    }
                }
                .not-answered {
                    width: 50%;
                    float: left;
                    line-height: 1.2em;
                    margin-bottom: 1.2em;
                    p {
                        font-size: 0.9em;
                        margin-top: 0.5em;
                        text-align: left;
                        text-indent: 0.5em;
                    }
                    span {
                        background: url("../../../assets/images/questions-sprite.png") no-repeat scroll 0 0 transparent;
                        background-position: -39px -52px;
                        padding: 0.5em 0.8em;
                        float: left;
                        width: 33px;
                        height: 33px;
                    }
                }
                .not-visited {
                    width: 50%;
                    float: left;
                    line-height: 1.2em;
                    margin-bottom: 1.2em;
                    clear: both;
                    p {
                        font-size: 0.9em;
                        margin-top: 0.5em;
                        text-align: left;
                        text-indent: 0.5em;
                    }
                    span {
                        background: url("../../../assets/images/questions-sprite.png") no-repeat scroll 0 0 transparent;
                        background-position: -103px -54px;
                        padding: 0.5em 0.9em;
                        float: left;
                        width: 33px;
                        height: 33px;
                        text-align: center;
                    }
                }
                .review {
                    width: 50%;
                    float: left;
                    line-height: 1.2em;
                    margin-bottom: 1.2em;
                    p {
                        font-size: 0.9em;
                        margin-top: 0.5em;
                        text-align: left;
                        text-indent: 0.5em;
                    }
                    span {
                        background: url("../../../assets/images/questions-sprite.png") no-repeat scroll 0 0 transparent;
                        background-position: -71px -52px;
                        padding: 0.5em 0.85em;
                        float: left;
                        width: 33px;
                        height: 33px;
                        text-align: center;
                    }
                }
                .answered-review {
                    clear: both;
                    width: 100%;
                    line-height: 1.2em;
                    margin-bottom: 1.2em;
                    span {
                        float: left;
                        background: url("../../../assets/images/questions-sprite.png") no-repeat scroll 0 0 transparent;
                        background-position: -5px -85px;
                        width: 33px;
                        height: 33px;
                        padding: 8px;
                        text-align: center;
                    }
                }
            }
            .subject-question-section {
                clear: both;
                height: 31vh;
                overflow: hidden;
                .subject-header {
                    background-color: #2D70B6;
                    padding: 0.4em;
                    h4 {
                        color: #ffffff;
                        text-transform: uppercase;
                        font-weight: bolder;
                    }
                }
                .question-number {
                    padding: 2px 1px;
                    white-space: normal;
                    height: 22vh;
                    overflow: auto;
                    span {
                        background: url("../../../assets/images/questions-sprite.png") no-repeat 0 0 transparent;
                        background-position: -157px -3px;
                        width: 50px;
                        height: 50px;
                        padding: 10px;
                        text-align: center;
                        margin: 0.1em;
                        cursor: pointer;
                        float: left;
                    }
                }
                .submit {
                    button {
                        float: right;
                        background-color: #2D70B6;
                        color: #ffffff;
                        border: none;
                    }
                }
            }
        }
    }
}

.not-answered{
    background-position: -57px 1px !important;
}

.answered{
    background-position: -4px -1px !important;
}

.not-visited{
    background-position: -157px -3px !important;
}

.review_later{
    background-position: -107px -1px !important;
}

.answered_review{
    background-position: -65px -177px !important;
}