.main-container {
    min-height: 100%;
    width: 100%;

    .title-bar {
        background-color: #525cec;
        color: #ffffff;
        padding: 1em;
    }

    .instruction-section {
        position: relative;
        width: 80%;
        height: 91.1vh;
        background-color: #f7f5f5;
        border-right: 0.1em solid #000000;
        float: left;

        .instruction-heading {
            background-color: #8093e7;
            color: #ffffff;
            padding: 0.8em;
            letter-spacing: 0.1em;
        }

        .scroll-content {
            overflow: auto;
            height: 75vh;
        }

        p {
            float: right;
            padding: 0.3em;
            margin-bottom: 1em;

            select {
                height: 2em;
                line-height: 2em;
                width: 8em;
                border-radius: 0.3em;
            }
        }
        p:after {
            content: '';
            display: block;
            clear: both;
        }

        .instruction-content {
            height: 100%;
            padding: 0 0 1.5em 1.5em;
            clear: both;
            .instructions {
                height: 68vh;
            }

            h2 {
                margin-bottom: 0.8em;
            }

            ul {
                li {
                    margin-bottom: 1.2em;
                    font-weight: bold;
                    margin-left: 2em;
                    font-size: 1.1em;
                    line-height: 1.3em;
                }
            }
        }

        // test instruction content
        .test-instruction-content {
            clear: both;
            padding: 0 0 10em 1.5em;
            
            p {
                text-align: center;
                float: none;
                font-size: 1.1em;
            }

            h4 {
                text-decoration: underline;
                margin-bottom: 1em;
            }

            ol {
                margin-left: 1em;
                margin-right: 1em;
                
                li {
                    margin-bottom: 0.9em;
                }
            }
        }

        .instruction-footer {
            position: absolute;
            width: 100%;
            bottom: 0;
            border-top: 0.1em solid #6d6c6c;
            padding: 0.4em 0.8em;
            background-color: #ffffff;

            button {
                width: 7em;
                height: 2.6em;
                line-height: 2.6em;
                float: right;
                font-size: 0.8em;
                padding: 0 0.5em;
                background: transparent;
                border: 0.1em solid #cccccc;
                cursor: pointer;
            }
            .prev {
                float: left;
            }
            .go {
                float: none;
                width: auto;
                margin-left: 30em;
            }
            .condition {
                margin-bottom: 0.4em;
                .condition-para {
                    float: none;
                    margin-bottom: 0;
                }
            }
        }
    }

    .user-profile-section {
        height: 91vh;
        background: linear-gradient(#ffffff, #a5a0a0);
    }
}